* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*Header and Footer CSS */
.App-header,
.App-footer {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#pid {
  color: red;
}

#p1id {
  background-color: #0000;
  color: #fff;
  height: 30 px;
  width: 150px;
  border: 3px solid green;
  border-radius: 10px;
}

#p2id {
  background-color: black;
  color: rgb(58, 99, 133);
  height: 50 px;
  width: 180px;
  border-bottom: 2px solid #61dafb;
  border-left: 2px solid #8748;
  border-right: 2px solid green;
  border-top: 2px solid hotpink;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 8px;
}

#p3id {
  height: 500px;
  width: 455px;
  background-image: url("./logo.svg");
  border: 2px solid red;
  background-repeat: no-repeat;
  background-position: center center;
  /* background-position: center/top/bottom center/left/right; */
  /* background-position: 192px 34px; */
}

.container {
  background-color: rgb(74, 73, 77);
  color: white;
  border: 4px solid rgb(206, 219, 230);
  padding: 19px;
  width: auto;
  height: 500px;
  /* padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding: 12px 26px 4px 10px; */
  margin: 10px auto;
  border-radius: 12px;
  box-sizing: border-box; /*To fix the width of box even the changing size of padding/margin */
}

.item {
  border: 4px solid black;
  margin: 12px 3px;
  padding: 12px 3px;
  background-color: lightgray;
  border-radius: 4px;
}

.para {
  padding: 10px;
  margin: 10px;
}

#fruit {
  float: left;
  width: 48%;
}

#vegetable {
  float: left;
  width: 48%;
}

#herb {
  /* float: left; */
  clear: left;
  width: 80%;
}

#cont1 {
  border: 2px solid red;
  background-color: lightgrey;
  padding: 34px;
  margin: 34px auto;
  width: 666px;
}

a {
  text-decoration: none;
  color: black;
  margin: 6px;
  padding: 6px;
}

a:hover {
  color: rgb(5, 0, 0);
  background-color: rgb(221, 166, 38);
}

a:visited {
  color: yellow;
}

a:active {
  background-color: darkblue;
}

button:hover {
  color: rgb(5, 0, 0);
  background-color: rgb(221, 166, 38);
}

button:visited {
  color: yellow;
}

button:active {
  background-color: darkblue;
}

.btn {
  background-color: crimson;
  padding: 6px;
  border: none;
  cursor: pointer;
  font-size: 13px;
  border-radius: 4px;
  margin: 6px;
}

img {
  margin: auto;
  display: block;
  width: 34px;
}

h3 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

.header {
  border: 2px solid red;
  margin: auto;
  width: 1200px;
}

.box {
  border: 4px solid black;
  background-color: grey;
  margin: 4px 0px;
  padding: 23px;
  width: 33%;
  box-sizing: border-box;
  display: inline-block; /*element inline as well as customize its width*/
}

/* Navigation */
.navbar {
  background-color: black;
  border-radius: 30px;
  display: block;
  height: fit-content;
  margin: 4px;
}

.navbar li {
  float: left;
  list-style: none;
  margin: 5px 20px;
}

.navbar ul {
  height: 50px;
}

.navbar li a {
  padding: 3px 3px;
  text-decoration: none;
  color: white;
}

.search {
  float: right;
  color: white;
  padding: 12px;
  margin: 5px 20px;
}

.navbar input {
  border: 2px solid black;
  border-radius: 14px;
  padding: 3px 17px;
  width: auto;
}

.position-container {
  background-color: yellow;
  border: 2px solid red;
  height: 300px;
}

.positionBox {
  height: 190px;
  width: 190px;
  margin: 4px;
  border: 2px solid blue;
  display: inline-block;
}

#box3 {
  /* relative: Positions the element relative to its normal positon and will leave a gap at its normal position*/
  /* position: relative; */
  /* absolute: Positions the element relative to the positon of its first parent*/
  /* position: absolute; */
  position: absolute;
  /* fixed: Positions the element relative to the browser window; */
  /* position: fixed; */
  /* sticky: Positions the element relative to the users scroll position */
  /* top: 34px; */
  left: 34px;
}

.indexBox {
  width: 170px;
  height: 170px;
  border: 2px solid black;
}
#box-1 {
  position: relative;
  top: 49px;
  z-index: 35;
  background-color: green;
}
#box-2 {
  position: relative;
  top: 14px;
  /* z-index  will work only for position: relative, absolute, fixed or sticky; */
  z-index: -165;
  /* will hide the element and the space */
  /* display: none; */
  /* will hide the element but will show its empty space */
  /* visibility: hidden; */
  background-color: red;
}
#box-3 {
  background-color: blue;
}
#box-4 {
  background-color: yellow;
}

.flexContainer {
  height: 544px;
  width: 100%;
  border: 2px solid black;
  display: flex; /* Initialize the container as a flex box */

  /* Flex properties for a flex container */

  /* flex-direction: row; (Default value of flex-direction is row) */
  /* flex-direction: column; */
  /* flex-direction: row-reverse; */
  /* flex-direction: column-reverse; */

  flex-wrap: wrap; /*(Default value of flex-direction is no-wrap) */
  /* flex-wrap: wrap-reverse; */

  /* This is a shorthand for flex-direction: and flex-wrap: ;; */
  /* flex-flow: row-reverse wrap; */

  /* justify-content will justify the content in horizontal direction */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */
  /* justify-content: space-around; */

  /* justify-content will justify the content in vertical direction */
  /* align-items: center; */
  /* align-items: flex-end; */
  /* align-items: flex-start; */
  align-items: stretch;
}
.item {
  width: 200px;
  height: 200px;
  background-color: tomato;
  border: 2px solid green;
  margin: 10px;
  padding: 3px;
}

#item-1 {
  /* Flex properties for a flex item */
  /* Higher the order, later it shows up in the container */
  /* order: 2; */

  /* flex-grow: 2;
  flex-shrink: 2; */
}
#item-2 {
  /* flex-grow: 3;
  flex-shrink: 3; */
  /* flex-basis: 160px; */
  /* when flex-direction is set to row flex-basis: will control width */
  /* when flex-direction is set to column flex-basis: will control height */
}
#item-3 {
  /* flex: 2 2 230px; */
  /* align-self: flex-start;
  align-self: flex-end; */
  align-self: center;
}

html {
  font-size: 10px;
}

.unitsContainer {
  padding: 10px 30px;
  margin: 4px;
  border: 4px solid red;
  width: 100%;
}

.unitsHeading {
  text-align: center;
}

#unitsH2 {
  font-size: 2em;
  padding: 2em;
}

#unitsH3 {
  padding: 3rem;
}

/* @media screen and (max-width: 800px) {
  #contents {
    width: 90%;
  }
} */

.mediaBox {
  background-color: red;
  color: white;
  width: 100%;
  text-align: center;
  display: none;
}

@media only screen and (min-width: 400px) {
  #boxm1 {
    display: block;
  }
}

@media (min-width: 450px) and (max-width: 600px) {
  #boxm2 {
    display: block;
    background-color: teal;
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  #boxm3 {
    display: block;
    color: black;
    background-color: yellow;
  }
}

@media (max-width: 800px) {
  #boxm4 {
    display: block;
    background-color: green;
  }
}
